.root {
    -fx-padding: 10px;
}

.label {
    -fx-background-color: #2b5278;
    -fx-text-fill: white;
    -fx-background-radius: 15px 15px 0px 15px;
    -fx-padding: 8px 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

.reply-label {
    -fx-background-color: #242f3d;
    -fx-text-fill: white;
    -fx-background-radius: 15px 15px 15px 0;
    -fx-padding: 8px 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
}
